.main-container{
    max-width: 78%;
}
@keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }  
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0); }
  
    to {
      opacity: 1;
      transform: none; 
} 
}

@media screen and ( max-width: 992px) {
    .slide-area{
        margin-top: 70px !important;
        .sub-title{
            font-size: 18px !important;
            margin: 0 !important;
            margin-bottom: 15px !important;
        }
        .main-title{
            font-size: 34px !important;
            margin-bottom: 20px !important;
            line-height: 20px !important;
        
        }
        .desc{
            margin-bottom: 0 !important;

        }
        .slider-btn{
           margin-top: 15px !important;
            span{
                padding: 8px 15px !important;
            }
        }
    }
    .header{
        display: none !important;
    }
    .header-med{
        display: flex !important;
    }
    .faboluous{
        .text-area{
            .text{
                .about{
                    text-align: center !important;

                }
                .title{
                    text-align: center !important;
                }
                .big-line{
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                }
                .desc{
                    text-align: center !important;
                }
                .category-list{
                    .list-item{
                        text-align: center !important;
                        padding: 0 !important;
                        li{
                            display: inline-block;
                            vertical-align: middle;
                            float: none !important;
                            width: auto !important;
                            margin-left: 30px !important;
                        }
                    }
                }
                .story-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .slide-area{
        .sub-title{
            font-size: 13px !important;
            margin: 0 !important;
        }
        .main-title{
            font-size: 18px !important;
            margin-bottom: 0 !important;
            line-height: 20px !important;
        }
        .desc{
            display: none !important;

        }
        .slider-btn{
            margin-top: 8px;
            span{
                padding: 2px 3px !important;
            }
        }
    }
    .customer{
        .user-details{
            padding: 35px 10px 30px !important;
        }
        .user-img{
           position: unset !important; 
           margin: 0 auto !important;
           margin-bottom: 15px !important;
        }
        .user-desc{
            text-align: center !important;
        }
        .user-detail{
            span{
                display: block !important;
                text-align: center !important;
                margin-bottom: 10px !important;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .header-med{
        .logo{
            img{
                width: 100px !important;
            }
        }
    }
    .footer{
        .txt{
            margin-bottom: 20px !important;
        }
    }
    .components{
        .one-component{
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            .title{
                text-align: left !important;
            }
            .desc{
                text-align: left !important;
            }
            .logo{
                margin-right: 14px !important;
            }
        }
    }
}
.opCl{
    transform: translateX(0px) !important;
}

@media screen and ( max-width: 400px) {
   .main-container{
    max-width: 97% !important;
   }
    .faboluous{
        .text-area{
            .text{
                
                .category-list{
                    .list-item{
                        text-align: center !important;
                        padding: 0 !important;
                        li{
                            display: block;
                            text-align: left;
                            width: auto !important;
                        }
                    }
                }
                .story-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}