.footer{
    background-color: #f2f6f9;
    padding-top: 30px;
    .container{
        margin-top: 30px;
        .row{
            .form-area{
                margin-bottom: 30px;
                .my-form{
                    border: 1px solid rgba(102, 102, 102, 0.15);
                    padding: 25px 15px;
                    .about{
                        font-size: 16px;
                        letter-spacing: 8px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 12px;
                        font-family: 'Poppins', sans-serif;
                        color: #eb4d4b;
                        line-height: 18px;
                        text-align: center;
                    }
                    .title{
                        font-size: 40px;
                        line-height: 40px;
                        letter-spacing: 0;
                        font-weight: 600;
                        color: #222;
                        font-family: 'Poppins', sans-serif;
                        text-transform: unset;
                        position: relative;
                        margin: 0;
                        margin-bottom: 25px;
                        text-align: center;
                    }
                    .big-line{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .line{
                        width: 80px;
                        height: 4px;
                        background: #eb4d4b;
                        margin-bottom: 25px;
                    }
                    form{
                        .form-group{
                            .row{
                                .col-lg-6{
                                    input{
                                        box-shadow: none;
                                    width: 100%;
                                    font-size: 15px;
                                    line-height: 1.42857;
                                    color: #555;
                                    padding: 0 20px;
                                    margin-bottom: 15px;
                                    border: 1px solid #e9e9e9;
                                    height: 45px;
                                    border-radius: 15px;
                                    }
                                }
                                textarea{
                                    box-shadow: none;
                                    width: 100%;
                                    font-size: 15px;
                                    line-height: 1.42857;
                                    color: #555;
                                    padding: 0 20px;
                                    margin-bottom: 15px;
                                    border: 1px solid #e9e9e9;
                                    border-radius: 15px;
                                    padding-top: 10px;
                                }
                                }
                        }
                        .btn-area{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            button{
                                padding: 10px;
                                outline: none;
                                border: none;
                                border-radius: 40px;
                                background-color: #eb4d4b;
                                color: white;
                                font-size: 18px;

                            }
                        }
                        
                    }
                    .img-area{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .news-icon{
                            fill: #eb4d4b;
                            svg{
                                width: 50px;
                                
                            }
                        }
                    }
                    .sm-title{
                        font-size: 22px;
                        font-weight: 500;
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .sm-desc{
                        font-size: 14px;
                        color: #666;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    .right{
                        max-width: 457px;
                        height: 50px;
                        border-radius: 40px;
                        margin: 0 auto;
                        border: 1px solid #e9e9e9;
                        background-color: white;
                        overflow: hidden;
                        position: relative;
                        input{
                            width: 100%;
                            height: 50px;
                            border: none;
                            padding-left: 15px;
                            outline: none;
                        }
                        button{
                            padding: 10px 25px;
                            outline: none;
                            border: none;
                            border-radius: 40px;
                            background-color: #eb4d4b;
                            color: white;
                            font-size: 18px;
                            position: absolute;
                            right: 0;
                            top: 0;

                        }
                    }
                    .web-icons{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                        i{
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 6px;
                            color: white;
                            &:first-child{
                                background-color: #3b5999;
                            }
                            &:nth-child(2){
                                background-color: rgb(14, 132, 132);
                            }
                            &:nth-child(3){
                                background-color: red;
                            }
                            &:nth-child(4){
                                background-color:orange;
                            }
                            &:nth-child(5){
                                background-color:red;
                            }
                            &:nth-child(6){
                                background-color: pink;
                            }
                        }
                    }
                      
                }
            }
        }
    }
    .footer-container{
        .container{
            .top{
                ul{
                    color: #666;
                    text-align: center;
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        padding:0 8px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        background-color: #151515;
        padding: 10px;
        .container{
            margin-top: 0;
            .row{
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .imgs{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    margin: 0;
                    img{
                        margin-left: 8px;
                    }
                }
                .txt{
                    font-size: 13px;
                    padding: 0;
                    
                }
            }
        }
    }
}