.header{
    background-color: #2FC4ED;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    top: 0;
    width: 100%;
    display: flex;
    .container{
        .row{
            display: flex;
            align-items: center;
            .logo{

            }
            .nav{
                display: flex;
                align-items: center;
               .main-ul{
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 0;
                    li{
                        font-size: 15px;
                        color: #fff;
                        font-weight: 500;
                        &:hover{
                            .dropdown-menu{
                                display: flex;
                                transform: translateY(0px);
                               opacity: 1;
                                
                            }
                        }
                        .dropdown-menu{
                            transition: .3s;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 12px;
                            width: fit-content+200px;
                            border-radius: 0px;
                            transform: translateY(-100px);
                            opacity: 0;
                            display: none;
                            
                            .comp{
                                padding: 0;
                                margin-left: 10px;
                               li{
                                width: 199px;
                                p{
                                    margin: 0;
                                    color: black;
                                    font-size: 18px;
                                }
                                .line{
                                    width: 110px;
                                    height: 1px;
                                    background-color: rgb(143, 139, 139);
                                    margin-top: 15px;
                                    margin-bottom: 15px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        color: #666;
                                        display: block;
                                        margin-bottom: 8px;
                                        font-size: 13px;
                                    }
                                }
                               }
                            }
                            
                        }
                    }
                }
            }
            .icons{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    margin-left: 15px;
                    font-size:25px;
                    color: #fff;
                    &:first-child{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.header-med{
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    top: 0;
    width: 100%;
    display: none;
    .container{
        .row{
            display: flex;
            align-items: center;
            
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .menu{
                padding: 0;
                i{
                    font-size: 21px;
                    &:first-child{
                        font-size: 24px;
                        margin-right: 6px;
                    }
                }
            }
            .icons{
                padding: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    font-size: 21px;
                    &:first-child{
                        font-size: 24px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.swipe-nav{
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 0;left: 0;
    transform: translateX(-100%);
    transition: .5s;
    .close{
        display: flex;
        justify-content: flex-end;
        font-weight: 900;
        i{
            margin-right: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }
    .dropdown{
        width: 100%;
        .drop-btn{
            width: 100%;
            border-radius: 0px;
            color: black;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            border-bottom: 1px solid #f2f2f2;
            height: 50px;
        }
        .dropdown-menu{
            width: 100%;
            border-radius: 0px;
            li{
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }
}

.slide-area{
    .owl-carousel{
        position: relative;
        &:hover{
            .owl-prev{
                width: 40px !important;
                height: 40px !important;
            }
            .owl-next{
                width: 40px !important;
                height: 40px !important;
            }
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                top: 45%;
                right: 50px;
                width: 0px;
                height: 0px;
                background-color: #eb4d4b;
                overflow: hidden;
                transition: .2s;
                span{
                    color: white;
                }
                
            }
            .owl-prev{
                position: absolute;
                top: 45%;
                left: 50px;
                width: 0px;
                height: 0px;
                background-color: #eb4d4b;
                overflow: hidden;
                transition: 0.2s;
                span{
                    color: white;
                }
            }
        }
        .owl-dots{
            transform: translateY(-48px);
            .owl-dot{
                span{
                    width: 12px;
                    height: 12px;
                    border-radius: 0%;
                    background-color: black;
                }
            }
            .active{
                span{
                    background-color: orangered;
                }
            }
        }
        .owl-item{
            position: relative;
        }
        .item{
           a{
            display: flex;
            align-items: center;
           }
            .container{
                position: absolute;
                z-index: 1;
                left: 0;
                right: 0;
                
                .sub-title{
                    font-size: 34px;
                    text-transform: unset;
                    line-height: 34px;
                    margin-bottom: 20px;
                    letter-spacing: 0.8px;
                    color: white;
                    animation: fadeInDown 1s ease-in both ;
                }
                .main-title{
                    font-size: 70px;
                    text-transform: unset;
                    line-height: 80px;
                    margin-bottom: 27px;
                    letter-spacing: 0.7px;
                    font-weight: 700;
                    font-family: 'Poppins', sans-serif;
                }
                .desc{
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 50px;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                }
                .slider-btn{
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px 25px;
                        border-radius: 30px;
                        background-color: #eb4d4b;
                        color: #fff;
                        box-shadow: none;
                    }
                }
            }
            .first-slide{
                .row{
                    display: flex;
                    justify-content: flex-end;
                    .slider-content{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            .second-slide{
                .row{
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}