
.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: .5s;
    top: 0;
    z-index: 9;
    
    width: 100%;
    display: flex;
    .container{
        .row{
            display: flex;
            align-items: center;
            .logo{
                
            }
            .logo-big{
                display: flex;
            }
            .logo-med{
                display: none;
            }
            .nav{
                display: flex;
                align-items: center;
               .main-ul{
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 0;
                    li{
                        font-size: 15px;
                        color: #fff;
                        font-weight: 500;
                        &:hover{
                            .dropdown-menu{
                                display: flex;
                                transform: translateY(0px);
                               opacity: 1;
                                
                            }
                        }
                        .dropdown-menu{
                            transition: .3s;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 12px;
                            width: fit-content+200px;
                            border-radius: 0px;
                            transform: translateY(-100px);
                            opacity: 0;
                            display: none;
                            
                            .comp{
                                padding: 0;
                                margin-left: 10px;
                               li{
                                width: 199px;
                                p{
                                    margin: 0;
                                    color: black;
                                    font-size: 18px;
                                }
                                .line{
                                    width: 110px;
                                    height: 1px;
                                    background-color: rgb(143, 139, 139);
                                    margin-top: 15px;
                                    margin-bottom: 15px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        color: #666;
                                        display: block;
                                        margin-bottom: 8px;
                                        font-size: 13px;
                                    }
                                }
                               }
                            }
                            
                        }
                    }
                }
            }
            .icons{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    margin-left: 15px;
                    font-size:25px;
                    color: #fff;
                    &:first-child{
                        font-size: 20px;
                    }
                }
                .bascet{
                    position: relative;
                    i{
                        font-size: 25px;
                    }
                    .bascet-dropdown-menu{
                        font-family: 'Poppins', sans-serif;
                        left: auto;
                        position: absolute;
                        right: 0;
                        text-align: left;
                        width: 350px;
                        height: 0;
                        overflow: hidden;
                        z-index: 3;
                        top: 42px;
                        padding: 0 15px;
                        background: #fff;
                        border-radius: 0;
                        box-shadow: none;
                        margin: 0;
                        transition: .6s;
                        padding: 0;
                        span{
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 0;
                            padding: 10px 0;
                            color: #222;
                            display: none;
                        }
                        .first{
                            max-height: 300px;
                            overflow-y: scroll;
                            .table{
                                tbody{
                                    tr{
                                        .img-area{
                                            width: 100px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .second{
                            margin-top: 14px;
                            padding-bottom: 19px;
                            .btn-default{
                                background-color: #eb4d4b;
                                border-color: #eb4d4b;
                                color: #fff;
                                outline: none;
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 400;
                                padding: 10px 20px;
                                text-transform: uppercase;
                                border-radius: 0;
                                margin-right: 15px;
                            }
                            .btn-primary{
                                opacity: 1;
                                font-size: 14px;
                                font-weight: 400;
                                padding: 10px 20px;
                                text-transform: uppercase;
                                border-radius: 0;
                                -webkit-transition: all 0.5s;
                                -moz-transition: all 0.5s;
                                -o-transition: all 0.5s;
                                transition: all 0.5s;
                                color: #fff;
                                background-color: #232323;
                                border: 1px solid #232323;
                                outline: none;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }
}
.shop-header{
    background-color: white !important;
    position: relative !important;
    .nav{
        .main-ul{
            li{
                color: black !important;
            }
        }
        
    }
    .icons{
        i{
            color: black !important;
        }
    }
}
.header-med{
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    top: 0;
    width: 100%;
    display: none;
    .container{
        .row{
            display: flex;
            align-items: center;
            
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .menu{
                padding: 0;
                i{
                    font-size: 21px;
                    &:first-child{
                        font-size: 24px;
                        margin-right: 6px;
                    }
                }
            }
            .icons{
                padding: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    font-size: 21px;
                    &:first-child{
                        font-size: 24px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.swipe-nav{
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 0;left: 0;
    transform: translateX(-100%);
    transition: .5s;
    .close{
        display: flex;
        justify-content: flex-end;
        font-weight: 900;
        i{
            margin-right: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }
    .dropdown{
        width: 100%;
        .drop-btn{
            width: 100%;
            border-radius: 0px;
            color: black;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            border-bottom: 1px solid #f2f2f2;
            height: 50px;
        }
        .dropdown-menu{
            width: 100%;
            border-radius: 0px;
            li{
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }
}

.slide-area{
    .owl-carousel{
        position: relative;
        .owl-item{
        }
        &:hover{
            .owl-prev{
                width: 40px !important;
                height: 40px !important;
            }
            .owl-next{
                width: 40px !important;
                height: 40px !important;
            }
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                top: 45%;
                right: 50px;
                width: 0px;
                height: 0px;
                background-color: #eb4d4b;
                overflow: hidden;
                transition: .2s;
                span{
                    color: white;
                }
                
            }
            .owl-prev{
                position: absolute;
                top: 45%;
                left: 50px;
                width: 0px;
                height: 0px;
                background-color: #eb4d4b;
                overflow: hidden;
                transition: 0.2s;
                span{
                    color: white;
                }
            }
        }
        .owl-dots{
            transform: translateY(-48px);
            .owl-dot{
                span{
                    width: 12px;
                    height: 12px;
                    border-radius: 0%;
                    background-color: black;
                }
            }
            .active{
                span{
                    background-color: orangered;
                }
            }
        }
        .owl-item{
            position: relative;
        }
        .item{
           a{
            display: flex;
            align-items: center;
           }
            .container{
                position: absolute;
                z-index: 1;
                left: 0;
                right: 0;
                
                .sub-title{
                    font-size: 34px;
                    text-transform: unset;
                    line-height: 34px;
                    margin-bottom: 20px;
                    letter-spacing: 0.8px;
                    color: white;
                    animation: fadeInDown 1s ease-in both ;
                }
                .main-title{
                    font-size: 70px;
                    text-transform: unset;
                    line-height: 80px;
                    margin-bottom: 27px;
                    letter-spacing: 0.7px;
                    font-weight: 700;
                    font-family: 'Poppins', sans-serif;
                }
                .desc{
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 50px;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                }
                .slider-btn{
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px 25px;
                        border-radius: 30px;
                        background-color: #eb4d4b;
                        color: #fff;
                        box-shadow: none;
                    }
                }
            }
            .first-slide{
                .row{
                    display: flex;
                    justify-content: flex-end;
                    .slider-content{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            .second-slide{
                .row{
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}
.components{
    padding: 70px 0px;
    background-color: #fbfbfb;
    .container{
        .row{
            .col-lg-3{
                .one-component{
                    &:hover{
                        .logo{
                            img{
                                transform: rotateY(360deg);
                            }
                        }
                    }
                    margin-bottom: 30px;
                    .logo{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 5px;
                        img{
                            transition: .5s;
                        }
                    }
                    .title{
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .desc{
                        text-align: center;
                        color: #777;
                    }
                }
            }
        }
    }
}
.faboluous{
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        .row{
            display: flex;
            align-items: center;
            .img-area{
                .img{
                    img{
                        width: 100%;
                    }
                }
            }
            .text-area{
                .text{
                    .about{
                        font-size: 16px;
                        letter-spacing: 8px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 12px;
                        font-family: 'Poppins', sans-serif;
                        color: #eb4d4b;
                        line-height: 18px;
                    }
                    .title{
                        font-size: 40px;
                        line-height: 40px;
                        letter-spacing: 0;
                        font-weight: 600;
                        color: #222;
                        font-family: 'Poppins', sans-serif;
                        text-transform: unset;
                        position: relative;
                        margin: 0;
                        margin-bottom: 25px;
                    }
                    .line{
                        width: 80px;
                        height: 4px;
                        background: #eb4d4b;
                        margin-bottom: 25px;
                    }
                    .desc{
                        margin-bottom: 25px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #787878;
                        letter-spacing: 1px;
                        line-height: 29px;
                        font-family: 'Poppins', sans-serif;
                    }
                    .category-list{
                        .list-item{
                            li{
                                position: relative;
                                
                                color: #787878;
                                width: 50%;
                                float: left;
                                margin-bottom: 10px;
                                list-style-type: none;
                                &::before{
                                    position: absolute;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #eb4d4b;
                                    top: 8px;
                                    left: -16px;
                                }
                            }
                        }
                    }
                    .story-btn{
                        margin-top: 10px;
                        a{
                            padding: 10px 25px;
                            background: #eb4d4b;
                            color: #fff;
                            border-color: #eb4d4b;
                            font-size: 12px;
                            letter-spacing: 0.5px;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}
.faq{
    background-color: #f2f6f9;
    padding-bottom: 150px;
    padding-top: 150px;
    .container{
        .about{
            font-size: 16px;
            letter-spacing: 8px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 12px;
            font-family: 'Poppins', sans-serif;
            color: #eb4d4b;
            line-height: 18px;
            text-align: center;
        }
        .title{
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0;
            font-weight: 600;
            color: #222;
            font-family: 'Poppins', sans-serif;
            text-transform: unset;
            position: relative;
            margin: 0;
            margin-bottom: 25px;
            text-align: center;
        }
        .big-line{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .line{
            width: 80px;
            height: 4px;
            background: #eb4d4b;
            margin-bottom: 25px;
        }
        .row{
            .col-lg-12{
                .accar{
                    border-bottom: 1px solid rgba(102, 102, 102, 0.1);
                }
                .accordion {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: transparent;
                    color: #444;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    border: none;
                    
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    transition: 0.4s;
                    div{
                        font-size: 20px;
                        font-weight: 500;

                    }
                  }
                  
                  
                  
                  .panel {
                    padding: 0 18px;
                    display: block;
                    height:0px;
                    background-color: transparent;
                    overflow: hidden;
                    transition:.5s;
                  }
            }
        }
    }
}
.sponsor{
    padding: 70px 0px;
    .owl-carousel{
        .owl-nav{
            .owl-prev,.owl-next{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #eb4d4b;
                color: white;
                font-size: 18px;
            }
        }
    }
}
.footer{
    background-color: #f2f6f9;
    padding-top: 30px;
    .container{
        margin-top: 30px;
        .row{
            .form-area{
                margin-bottom: 30px;
                .my-form{
                    border: 1px solid rgba(102, 102, 102, 0.15);
                    padding: 25px 15px;
                    .about{
                        font-size: 16px;
                        letter-spacing: 8px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 12px;
                        font-family: 'Poppins', sans-serif;
                        color: #eb4d4b;
                        line-height: 18px;
                        text-align: center;
                    }
                    .title{
                        font-size: 40px;
                        line-height: 40px;
                        letter-spacing: 0;
                        font-weight: 600;
                        color: #222;
                        font-family: 'Poppins', sans-serif;
                        text-transform: unset;
                        position: relative;
                        margin: 0;
                        margin-bottom: 25px;
                        text-align: center;
                    }
                    .big-line{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .line{
                        width: 80px;
                        height: 4px;
                        background: #eb4d4b;
                        margin-bottom: 25px;
                    }
                    form{
                        .form-group{
                            .row{
                                .col-lg-6{
                                    input{
                                        box-shadow: none;
                                    width: 100%;
                                    font-size: 15px;
                                    line-height: 1.42857;
                                    color: #555;
                                    padding: 0 20px;
                                    margin-bottom: 15px;
                                    border: 1px solid #e9e9e9;
                                    height: 45px;
                                    border-radius: 15px;
                                    }
                                }
                                textarea{
                                    box-shadow: none;
                                    width: 100%;
                                    font-size: 15px;
                                    line-height: 1.42857;
                                    color: #555;
                                    padding: 0 20px;
                                    margin-bottom: 15px;
                                    border: 1px solid #e9e9e9;
                                    border-radius: 15px;
                                    padding-top: 10px;
                                }
                                }
                        }
                        .btn-area{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            button{
                                padding: 10px;
                                outline: none;
                                border: none;
                                border-radius: 40px;
                                background-color: #eb4d4b;
                                color: white;
                                font-size: 18px;

                            }
                        }
                        
                    }
                    .img-area{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .news-icon{
                            fill: #eb4d4b;
                            svg{
                                width: 50px;
                                
                            }
                        }
                    }
                    .sm-title{
                        font-size: 22px;
                        font-weight: 500;
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .sm-desc{
                        font-size: 14px;
                        color: #666;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    .right{
                        max-width: 457px;
                        height: 50px;
                        border-radius: 40px;
                        margin: 0 auto;
                        border: 1px solid #e9e9e9;
                        background-color: white;
                        overflow: hidden;
                        position: relative;
                        input{
                            width: 100%;
                            height: 50px;
                            border: none;
                            padding-left: 15px;
                            outline: none;
                        }
                        button{
                            padding: 10px 25px;
                            outline: none;
                            border: none;
                            border-radius: 40px;
                            background-color: #eb4d4b;
                            color: white;
                            font-size: 18px;
                            position: absolute;
                            right: 0;
                            top: 0;

                        }
                    }
                    .web-icons{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                        i{
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 6px;
                            color: white;
                            &:first-child{
                                background-color: #3b5999;
                            }
                            &:nth-child(2){
                                background-color: rgb(14, 132, 132);
                            }
                            &:nth-child(3){
                                background-color: red;
                            }
                            &:nth-child(4){
                                background-color:orange;
                            }
                            &:nth-child(5){
                                background-color:red;
                            }
                            &:nth-child(6){
                                background-color: pink;
                            }
                        }
                    }
                      
                }
            }
        }
    }
    .footer-container{
        .container{
            .top{
                ul{
                    color: #666;
                    text-align: center;
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        padding:0 8px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        background-color: #151515;
        padding: 10px;
        .container{
            margin-top: 0;
            .row{
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .imgs{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    margin: 0;
                    img{
                        margin-left: 8px;
                    }
                }
                .txt{
                    font-size: 13px;
                    padding: 0;
                    
                }
            }
        }
    }
}
.customer{
    background-image: url(../images/testimonialbackground.png);
    padding-top: 80px;
    padding-bottom: 150px;
    .container{
        .about{
            font-size: 16px;
            letter-spacing: 8px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 12px;
            font-family: 'Poppins', sans-serif;
            color: #eb4d4b;
            line-height: 18px;
            text-align: center;
        }
        .title{
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0;
            font-weight: 600;
            color: #222;
            font-family: 'Poppins', sans-serif;
            text-transform: unset;
            position: relative;
            margin: 0;
            margin-bottom: 25px;
            text-align: center;
        }
        .big-line{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .line{
            width: 80px;
            height: 4px;
            background: #eb4d4b;
            margin-bottom: 25px;
        }
        .items{
            .owl-item{
                margin-top: 70px;
            }
            .owl-nav{
                .owl-prev,.owl-next{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #eb4d4b;
                    color: white;
                    font-size: 18px;
                }
            }
            .item{
                background-color: white;
                position: relative;
                box-sizing: border-box;
                .user-details{
                    width: 100%;
                    padding: 65px 50px 40px;
                    box-sizing: border-box !important;
                    .user-img{
                        position: absolute;
                        top: -60px;
                        width: 90px;
                        border-radius: 50%;
                        border: 5px solid orangered;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }

                    }
                    .user-desc{
                        margin-bottom: 15px;
                        line-height: 24px;
                        font-weight: 400;
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        color: #666;
                    }
                    .user-detail{
                        .user-name{
                            display: inline-block;
                            font-size: 24px;
                            line-height: 24px;
                            font-weight: 500;
                            color: #222;
                        }
                        .user-work{
                            padding-left: 6px;
                            letter-spacing: 0.5px;
                            color: #eb4d4b;
                            display: inline-block;
                        
                        }
                    }
                }
            }
        }
    }
}
.products{
    padding-top: 80px;
    .about{
        font-size: 16px;
        letter-spacing: 8px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 12px;
        font-family: 'Poppins', sans-serif;
        color: #eb4d4b;
        line-height: 18px;
        text-align: center;
    }
    .title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0;
        font-weight: 600;
        color: #222;
        font-family: 'Poppins', sans-serif;
        text-transform: unset;
        position: relative;
        margin: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .big-line{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 80px;
        height: 4px;
        background: #eb4d4b;
        margin-bottom: 25px;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        
        cursor: pointer;
        .features{
            width: 114px;
            height: 40px;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .best-seller{
            width: 114px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
        }
        .n-arrival{
            width: 114px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
        }
    }
    .product-components{
        .owl-nav{
            .owl-prev,.owl-next{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #eb4d4b;
                color: white;
                font-size: 18px;
            }
        }
        .two-component{
            .one-component{
                margin-bottom: 10px;
                overflow: hidden;
                &:hover{
                    .my-card{
                        .img-area{
                            .hover{
                                transform: rotateY(180deg);
                              opacity: 1;
                            }  
                               
                        }
                        .button-group{
                            .circle{
                                transform: translateX(0px);
                                opacity: 1;
                            }
                        }
                        .btn-card{
                            transform: translateY(17px);
                            opacity: 1;
                        }
                    }

                }
                .my-card{
                    position: relative;
                    .img-area{
                        position: relative;
                        .hover{
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            transform: rotateY(90deg);
                            transition: 1s;
                        }
                    }
                    .card-detail{
                        p{
                            font-weight: bold;
                            font-size: 16px;
                            margin: 0;
                            text-align: center;
                        }
                        .name{
                            margin-top: 10px;
                            margin-bottom: 8px;
                        }
                        .price{
                            color: #eb4d4b;
                            margin-bottom: 16px;
                        }
                    }
                    .rating{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: auto;
                        bottom: 84px;
                        text-align: center;
                        margin: 0 auto;
                        i{
                            color: gainsboro;
                        }
                        .yellow{
                            color: orange;
                        }
                    }
                    .button-group{
                        position: absolute;
                        top: 20px;
                        right: 10px;
                        .circle{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: white;
                            box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
                            margin-bottom: 8px;
                            transform: translateX(30px);
                            opacity: 0;
                            svg{
                                width: 40px;
                            }
                            &:hover{
                                background-color: #eb4d4b;
                                svg{
                                    fill: white;
                                }
                            }
                        }
                        .btn-quickview{
                            transition: .2s;
                        }
                        .btn-wishlist{
                            transition: .6s;
                        }
                        .btn-compare{
                            transition: .8s;
                        }
                    }
                    .btn-card{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        transform: translateY(40px);
                        opacity: 0;
                        transition: .7s;
                        button{
                            &:hover{
                                background-color: black;
                                color: white;
                            }
                            border: none;
                                color: #fff;
                                border-radius: 0;
                                background-color: #eb4d4b;
                                padding: 10px 21px;
                                transition: .6s;
                            span{
                                

                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0.5px;
                                line-height: 13px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
