.header {
  background-color: #2FC4ED;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  display: flex;
}

.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .row .nav .main-ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.header .container .row .nav .main-ul li {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.header .container .row .nav .main-ul li:hover .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header .container .row .nav .main-ul li .dropdown-menu {
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  width: fit-content200px;
  border-radius: 0px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  display: none;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp {
  padding: 0;
  margin-left: 10px;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp li {
  width: 199px;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp li p {
  margin: 0;
  color: black;
  font-size: 18px;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp li .line {
  width: 110px;
  height: 1px;
  background-color: #8f8b8b;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp li ul {
  padding: 0;
}

.header .container .row .nav .main-ul li .dropdown-menu .comp li ul li {
  color: #666;
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.header .container .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .row .icons i {
  margin-left: 15px;
  font-size: 25px;
  color: #fff;
}

.header .container .row .icons i:first-child {
  font-size: 20px;
}

.header-med {
  background-color: #fff;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  display: none;
}

.header-med .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-med .container .row .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-med .container .row .menu {
  padding: 0;
}

.header-med .container .row .menu i {
  font-size: 21px;
}

.header-med .container .row .menu i:first-child {
  font-size: 24px;
  margin-right: 6px;
}

.header-med .container .row .icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-med .container .row .icons i {
  font-size: 21px;
}

.header-med .container .row .icons i:first-child {
  font-size: 24px;
  margin-right: 10px;
}

.swipe-nav {
  height: 100vh;
  width: 300px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.swipe-nav .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 900;
}

.swipe-nav .close i {
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.swipe-nav ul {
  padding: 0;
}

.swipe-nav ul li {
  list-style: none;
}

.swipe-nav .dropdown {
  width: 100%;
}

.swipe-nav .dropdown .drop-btn {
  width: 100%;
  border-radius: 0px;
  color: black;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  height: 50px;
}

.swipe-nav .dropdown .dropdown-menu {
  width: 100%;
  border-radius: 0px;
}

.swipe-nav .dropdown .dropdown-menu li {
  border-bottom: 1px solid #f2f2f2;
}

.slide-area .owl-carousel {
  position: relative;
}

.slide-area .owl-carousel:hover .owl-prev {
  width: 40px !important;
  height: 40px !important;
}

.slide-area .owl-carousel:hover .owl-next {
  width: 40px !important;
  height: 40px !important;
}

.slide-area .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  right: 50px;
  width: 0px;
  height: 0px;
  background-color: #eb4d4b;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.slide-area .owl-carousel .owl-nav .owl-next span {
  color: white;
}

.slide-area .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  left: 50px;
  width: 0px;
  height: 0px;
  background-color: #eb4d4b;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slide-area .owl-carousel .owl-nav .owl-prev span {
  color: white;
}

.slide-area .owl-carousel .owl-dots {
  -webkit-transform: translateY(-48px);
          transform: translateY(-48px);
}

.slide-area .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background-color: black;
}

.slide-area .owl-carousel .owl-dots .active span {
  background-color: orangered;
}

.slide-area .owl-carousel .owl-item {
  position: relative;
}

.slide-area .owl-carousel .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-area .owl-carousel .item .container {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.slide-area .owl-carousel .item .container .sub-title {
  font-size: 34px;
  text-transform: unset;
  line-height: 34px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  color: white;
  -webkit-animation: fadeInDown 1s ease-in both;
          animation: fadeInDown 1s ease-in both;
}

.slide-area .owl-carousel .item .container .main-title {
  font-size: 70px;
  text-transform: unset;
  line-height: 80px;
  margin-bottom: 27px;
  letter-spacing: 0.7px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.slide-area .owl-carousel .item .container .desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.slide-area .owl-carousel .item .container .slider-btn span {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #eb4d4b;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slide-area .owl-carousel .item .first-slide .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide-area .owl-carousel .item .first-slide .row .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide-area .owl-carousel .item .second-slide .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.components {
  padding: 70px 0px;
  background-color: #fbfbfb;
}

.components .container .row .col-lg-3 .one-component {
  margin-bottom: 30px;
}

.components .container .row .col-lg-3 .one-component:hover .logo img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.components .container .row .col-lg-3 .one-component .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.components .container .row .col-lg-3 .one-component .logo img {
  -webkit-transition: .5s;
  transition: .5s;
}

.components .container .row .col-lg-3 .one-component .title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.components .container .row .col-lg-3 .one-component .desc {
  text-align: center;
  color: #777;
}

.faboluous {
  padding-top: 80px;
  padding-bottom: 80px;
}

.faboluous .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faboluous .container .row .img-area .img img {
  width: 100%;
}

.faboluous .container .row .text-area .text .about {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  color: #eb4d4b;
  line-height: 18px;
}

.faboluous .container .row .text-area .text .title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 600;
  color: #222;
  font-family: 'Poppins', sans-serif;
  text-transform: unset;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
}

.faboluous .container .row .text-area .text .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin-bottom: 25px;
}

.faboluous .container .row .text-area .text .desc {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  letter-spacing: 1px;
  line-height: 29px;
  font-family: 'Poppins', sans-serif;
}

.faboluous .container .row .text-area .text .category-list .list-item li {
  position: relative;
  color: #787878;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  list-style-type: none;
}

.faboluous .container .row .text-area .text .category-list .list-item li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eb4d4b;
  top: 8px;
  left: -16px;
}

.faboluous .container .row .text-area .text .story-btn {
  margin-top: 10px;
}

.faboluous .container .row .text-area .text .story-btn a {
  padding: 10px 25px;
  background: #eb4d4b;
  color: #fff;
  border-color: #eb4d4b;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 30px;
}

.faq {
  background-color: #f2f6f9;
  padding-bottom: 150px;
  padding-top: 150px;
}

.faq .container .about {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  color: #eb4d4b;
  line-height: 18px;
  text-align: center;
}

.faq .container .title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 600;
  color: #222;
  font-family: 'Poppins', sans-serif;
  text-transform: unset;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.faq .container .big-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .container .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin-bottom: 25px;
}

.faq .container .row .col-lg-12 .accar {
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
}

.faq .container .row .col-lg-12 .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.faq .container .row .col-lg-12 .accordion div {
  font-size: 20px;
  font-weight: 500;
}

.faq .container .row .col-lg-12 .panel {
  padding: 0 18px;
  display: block;
  height: 0px;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.sponsor {
  padding: 70px 0px;
}

.sponsor .owl-carousel .owl-nav .owl-prev, .sponsor .owl-carousel .owl-nav .owl-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eb4d4b;
  color: white;
  font-size: 18px;
}

.footer {
  background-color: #f2f6f9;
  padding-top: 30px;
}

.footer .container {
  margin-top: 30px;
}

.footer .container .row .form-area {
  margin-bottom: 30px;
}

.footer .container .row .form-area .my-form {
  border: 1px solid rgba(102, 102, 102, 0.15);
  padding: 25px 15px;
}

.footer .container .row .form-area .my-form .about {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  color: #eb4d4b;
  line-height: 18px;
  text-align: center;
}

.footer .container .row .form-area .my-form .title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 600;
  color: #222;
  font-family: 'Poppins', sans-serif;
  text-transform: unset;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.footer .container .row .form-area .my-form .big-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .row .form-area .my-form .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin-bottom: 25px;
}

.footer .container .row .form-area .my-form form .form-group .row .col-lg-6 input {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.42857;
  color: #555;
  padding: 0 20px;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
  height: 45px;
  border-radius: 15px;
}

.footer .container .row .form-area .my-form form .form-group .row textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.42857;
  color: #555;
  padding: 0 20px;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  padding-top: 10px;
}

.footer .container .row .form-area .my-form form .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .row .form-area .my-form form .btn-area button {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #eb4d4b;
  color: white;
  font-size: 18px;
}

.footer .container .row .form-area .my-form .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .row .form-area .my-form .img-area .news-icon {
  fill: #eb4d4b;
}

.footer .container .row .form-area .my-form .img-area .news-icon svg {
  width: 50px;
}

.footer .container .row .form-area .my-form .sm-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer .container .row .form-area .my-form .sm-desc {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.footer .container .row .form-area .my-form .right {
  max-width: 457px;
  height: 50px;
  border-radius: 40px;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.footer .container .row .form-area .my-form .right input {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 15px;
  outline: none;
}

.footer .container .row .form-area .my-form .right button {
  padding: 10px 25px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #eb4d4b;
  color: white;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}

.footer .container .row .form-area .my-form .web-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer .container .row .form-area .my-form .web-icons i {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6px;
  color: white;
}

.footer .container .row .form-area .my-form .web-icons i:first-child {
  background-color: #3b5999;
}

.footer .container .row .form-area .my-form .web-icons i:nth-child(2) {
  background-color: #0e8484;
}

.footer .container .row .form-area .my-form .web-icons i:nth-child(3) {
  background-color: red;
}

.footer .container .row .form-area .my-form .web-icons i:nth-child(4) {
  background-color: orange;
}

.footer .container .row .form-area .my-form .web-icons i:nth-child(5) {
  background-color: red;
}

.footer .container .row .form-area .my-form .web-icons i:nth-child(6) {
  background-color: pink;
}

.footer .footer-container .container .top ul {
  color: #666;
  text-align: center;
}

.footer .footer-container .container .top ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}

.footer .footer-bottom {
  background-color: #151515;
  padding: 10px;
}

.footer .footer-bottom .container {
  margin-top: 0;
}

.footer .footer-bottom .container .row {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-bottom .container .row .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin: 0;
}

.footer .footer-bottom .container .row .imgs img {
  margin-left: 8px;
}

.footer .footer-bottom .container .row .txt {
  font-size: 13px;
  padding: 0;
}

.main-container {
  max-width: 78%;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 992px) {
  .slide-area {
    margin-top: 70px !important;
  }
  .slide-area .sub-title {
    font-size: 18px !important;
    margin: 0 !important;
    margin-bottom: 15px !important;
  }
  .slide-area .main-title {
    font-size: 34px !important;
    margin-bottom: 20px !important;
    line-height: 20px !important;
  }
  .slide-area .desc {
    margin-bottom: 0 !important;
  }
  .slide-area .slider-btn {
    margin-top: 15px !important;
  }
  .slide-area .slider-btn span {
    padding: 8px 15px !important;
  }
  .header {
    display: none !important;
  }
  .header-med {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .faboluous .text-area .text .about {
    text-align: center !important;
  }
  .faboluous .text-area .text .title {
    text-align: center !important;
  }
  .faboluous .text-area .text .big-line {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .faboluous .text-area .text .desc {
    text-align: center !important;
  }
  .faboluous .text-area .text .category-list .list-item {
    text-align: center !important;
    padding: 0 !important;
  }
  .faboluous .text-area .text .category-list .list-item li {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    width: auto !important;
    margin-left: 30px !important;
  }
  .faboluous .text-area .text .story-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .slide-area .sub-title {
    font-size: 13px !important;
    margin: 0 !important;
  }
  .slide-area .main-title {
    font-size: 18px !important;
    margin-bottom: 0 !important;
    line-height: 20px !important;
  }
  .slide-area .desc {
    display: none !important;
  }
  .slide-area .slider-btn {
    margin-top: 8px;
  }
  .slide-area .slider-btn span {
    padding: 2px 3px !important;
  }
}

@media screen and (max-width: 600px) {
  .header-med .logo img {
    width: 100px !important;
  }
  .footer .txt {
    margin-bottom: 20px !important;
  }
  .components .one-component {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .components .one-component .title {
    text-align: left !important;
  }
  .components .one-component .desc {
    text-align: left !important;
  }
  .components .one-component .logo {
    margin-right: 14px !important;
  }
}

.opCl {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

@media screen and (max-width: 400px) {
  .main-container {
    max-width: 97% !important;
  }
  .faboluous .text-area .text .category-list .list-item {
    text-align: center !important;
    padding: 0 !important;
  }
  .faboluous .text-area .text .category-list .list-item li {
    display: block;
    text-align: left;
    width: auto !important;
  }
  .faboluous .text-area .text .story-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */